/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Bangers");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  height: auto;
  /*background-image: url(./assets/images/Jeopardy.jpg);*/
  background-color: gray;
  /*opacity: 0.5;*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  z-index: 0;
}

body::after {
  background-image: url(./assets/images/Jeopardy.jpg);
  content: "";
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 80px;
  margin-top: -48px;
}

#score_val {
  margin-top: -2px;
}

#cat-div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cat_button {
  display: inline-block;
  min-width: 600px;

}

.form-control {
  margin-left: -16px;
}

label {
  font-size: 22px;
  margin-top: 16px;
}

form {
  width: 920px;
}

input {
  margin-top: 20px;
}
